# Build output
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst

# Build folders
build/
Debug/
Release/
obj/

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# Keil / IAR / STM32CubeIDE
*.uvprojx
*.eww
*.ewp
*.s
*.dep

# Editor temp files
*~
*.swp
*.swo
*.swn

# Logs
*.log